extends layout

block content
  h1 Your Kitchen

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/pantry_update.js")
  .pantryItems
    each item in items
      .pantryItem(data-id="#{item.barcode}")
        img(src="#{item.image}", height="300px")
        p #{item.name}
