extends layout

block content
  h1 Your Kitchen

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/pantry_update.js")
  .pantryItems
    each row in rows
      .row
        each item in row
            .pantryItem.col-md-3.col-md-offset1(data-id="#{item.barcode}")
              img(src="#{item.image}")
              p #{item.name}
