extends layout

block content
  h1 Your Kitchen

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/pantry_update.js")
  table.pantryItems
    thead
      tr
        td &nbsp;
        td &nbsp;
        td &nbsp;
    tbody
      each row in rows
        tr
          each item in row
              td.pantryItem(data-id="#{item.barcode}", height="100")
                img(src="#{item.image}")
                .textContainer
                  p #{item.name}
